body {
	background: #eaeae1;
}

div.border{
	width: 100%;
	height: 8px;
	background-color: #aaf;
}

div.container {
	background: #eaeae1;
}

nav{
	position: fixed;
	width: 80px;
}

ul.nav-list > li {
	border: none;
	padding: 2px;
}

ul.nav-list > li > a > img {
	width: 80%;
	border: 2px solid black;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}

ul.nav-list > li > a > img:hover {
	filter: grayscale(0.5);
	-webkit-filter: grayscale(0.5);
}

.content {
	margin-top: 80px;
}

img {
	display: block;
	max-width: 100%;
}

img.ajax-loader {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	border: 1px solid right: ;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	font-weight: 400;
	color: #aaa;
	margin: 0 auto;
}

h2{
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #aaa;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
	/* background: -moz-linear-gradient(top, #eee, white); */
}

h1>a[href^="https://"], h1>a[href^="http://"]{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	font-weight: 500;
	color: #aaa;
    background: url("../images/externallink.png") center right no-repeat;
    padding-right: 13px;
    text-decoration: none;
}

.content-div {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 1px 1px #ddd;
	-moz-box-shadow: 0 0 1px 1px #ddd;
	-webkit-box-shadow: 0 0 1px 1px #ddd;
}

.content-div:hover {
	box-shadow: 0 0 1px 1px #aaa;
	-moz-box-shadow: 0 0 1px 1px #aaa;
	-webkit-box-shadow: 0 0 1px 1px #aaa;
}

.canvas-div {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 1px 1px #ddd;
	-moz-box-shadow: 0 0 1px 1px #ddd;
	-webkit-box-shadow: 0 0 1px 1px #ddd;
}

.canvas-div:hover {
	box-shadow: 0 0 1px 1px #aaa;
	-moz-box-shadow: 0 0 1px 1px #aaa;
	-webkit-box-shadow: 0 0 1px 1px #aaa;
}

div.legend_box {
	width: 20px; 
	height: 10px; 
	display: block; 
	position: relative; 
	float: left; 
	margin: 10px;
}

.hor-info-box {
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	padding-top: 10px;
	padding-left: 10px;
}

/* LASTFM */

div.info-list-item {
	margin: 0 auto;
	padding-top: 2px;
	display: block;
	height: 100%;
	color: #aaa;
	font-size: 2em;
}

#total-playcount {
	margin: 0 auto;
	padding-top: 10px;
	color: #aaa;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

#lastfm_playcount_chart {
	display: block;
	border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
}

ul.information {
	padding-top: 10px;
	padding-left: 10px;
}

ul.information > li {
	border: 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

li {
	overflow: hidden;
	margin: 0px;
	border-bottom: 1px solid #ccc;
}

li.pie {
	border: 0;
}

.list-title{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

.track {
	position: relative;
}

.track-cover {
	float: left;
}

.track-name {
	font-size: 0.9em;
	font-weight: bold;
}

.track-detail {
	float: left;
	margin-top: 12px;
	margin-left: 10px;
}

.track-playcount {
	float: right;
	margin-top: 20px;
	margin-right: 10px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 3em;
	text-align: center;
	color: #ddd;
}

/* Foursquare */

#total_checkins {
	margin: 0 auto;
	padding-top: 10px;
	color: #aaa;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

ul.legend {
	margin-top: 10px;
}

ul.legend > li{
	border: 0px;
}

ul#mayorships > li {
	padding: 5px;
}

.mayorship_img {
	float:left;
}

.mayorship_name {
	position: relative;
	left: 5px;
	top: 5px;
}

/*facebook*/

ul#fb_gender_pie_legend {
	margin-left: 10px;
}

ul#fb_gender_pie_legend > li{
	border: 0px;
}

@media all and (min-width: 300px) and (max-width: 767px) {

	body{
		background-color: #eaeae1;
	}

	div.container{
		background-color: #eaeae1;
	}

	.columns{
		background-color: #eaeae1;
	}

	.sidebar {
		visibility: hidden;
	}

	hr {
		visibility: hidden;
	}

	h1, h2 {
		text-align: center;
	}

	.inner-row > .alpha, .beta, .omega {
		margin-bottom: 20px;
	}

	.content-div, .canvas-div {
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}

	.content-div:hover, .canvas-div:hover {
		border: 1px solid #aaa;
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}

	li{
		background-color: white;
		border-bottom: 1px solid white;
	}

}